.main {
	background-color: pink;
	flex-flow:row;
	display:flex;
}
.description {
	max-width:850px;
}
.descriptionP{
	font-size:20px;
}
h3 {
	font-family: Bradley Hand ITC;
	font-size:30px;
	color:#FF0099;
}
.example{
	display: block;
    margin: auto;
    width: 30%;
}
.signInUp {
	margin-left:50px;
}
h2{
	font-family: Batang;
	font-size:25px;
	color:#AA00AA;
}
form{
	width:220px;
	display:flex;
	flex-flow:column;
	font-size:20px;
}

form input{
	font-size:20px;
}
button{
	border-radius: 4px;
	background-color: purple;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 50px;
}
.account{
	font-size: 22px;
	color: #660066;
	font-family: Bradley Hand ITC;
	font-weight: bold;
}	
footer {
	clear:both;
	margin-top:50px;
}
.header-links{
	float:right;
	clear:right;
}
span{
	font-family: Bradley Hand ITC;
	font-weight: bold;
	font-size: 50px;
	color:#CC3399;
}