footer {
	clear:both;
	margin-top:50px;
}
.header-links{
	float:right;
	clear:right;
}
span{
	font-family: Bradley Hand ITC;
	font-weight: bold;
	font-size: 50px;
	color:#CC3399;
}
section{
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
    padding-left: 500px;
	padding-top: 100px;
	padding-bottom: 100px;
}
h2{
	font-family: Batang;
	font-size:25px;
	color:#AA00AA;
}
section p label, section p input{
	font-size:20px;
}
button{
	font-size: 17px;
}