{% extends "toDo/base.html" %}
{% load static %}

{% block csv %}
	<link rel="stylesheet" href="{% static 'allTasks.css' %}">
{% endblock %}

{% block main %}
	<div class="main">
		<section class="sortBy">
			<form method="GET">
				{{choose_tasks_form.as_p}}
				<input class="button_ok" type="submit" value="OK"></input>
			</form>
		</section>
		<section class="allTasks">

			{% for task in tasks %}
				{% include 'toDo/task.html' %}
			{% endfor %}
			
		</section>	
	</div>
{% endblock %}
