{% extends "toDo/base.html" %}
{% load static %}

{% block csv %}
	<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block main %}
	<div class="main">
		<section class="description">
			<h3> This site helps you to keep track of all your tasks and motivates you to do them regularly! </h3>
			<p class="descriptionP"> 
				You have so many everyday tasks that you sometimes forget at least one? 
				There are soooo many things for you to do that you don't know where to start? 
				You lose motivation when you see how many homeworks you still have to finish? 
				Don't worry, we can help you!
				With our web application you can have all your tasks, chores, homeworks, 
				written in one place so you can keep track of them and see what else 
				you have to do today. Application also suggests which tasks you should 
				do and displays your activity which will motivate you to be less 
				lazy and do more.
			</p>
			<img class = "example" alt= "example" src="{% static 'toDo/example.jpg' %}"/>
		</section>		
		<section class="signInUp">
			<h2>  Sign In </h2>
			<p class="login_m"> {{login_message }} </p>
			<form method="POST" id="signIn">
				{% csrf_token %}
				{{ login_form }}
				<button>Sign in</button>
			</form>
			
			<hr>
			
			<p class="account"> Don't have an account yet? </p>
			<form method="GET" action="register.html">
				<button type="submit" name="register" >Sign Up</button>
			</form>
		</section>
	</div>	
{% endblock %}
	
		
	
	
		
   