{% extends "toDo/base.html" %}
{% load static %}

{% block csv %}
	<link rel="stylesheet" href="{% static 'newTask.css' %}">
{% endblock %}

{% block main %}	
	<section class="main">
		<h2>  Create new task </h2>
		<form method="POST" class="formLeft">
			{% csrf_token %}
			{{ new_task_form }}
			<input class="button" name="newTask" type="submit" value="Add new task"></input>
		</form>
		<a class="button" href="{% url 'allTasks' user.id %}" >Cancel</a>
	</section>
{% endblock %}
