{% extends "toDo/base.html" %}
{% load static %}

{% block csv %}
	  <link rel="stylesheet" href="{% static 'toDo/newTask.css' %}">
{% endblock %}

{%block main %}
	<section class="main">
		<h2>Change password</h2>
			<p class="message"> {{message }} </p>
			<form method="POST" class="formLeft" id="changePass">
				{% csrf_token %}
				{{settings_form}}
				<input type="submit" class="button" value="Change password" ></input>
			</form>
		<h2> Delet account</h2>
			<a class="button"  href="{% url 'delete_account' user.id%}">Delete account</a>
	</section>
{% endblock %}
