footer {
	background:#0047b3;
	border-top: 3px solid #99c2ff;
	display: flex;
	flex-flow: column;
	text-align: center;
}
footer a {
	text-decoration:none;
	color: white;
	font-size:17px;
	font-family: Verdana;
	padding-top: 10px;
}
footer a:hover {
	color: #c6c6ec;
}
footer p {
	color: white;
	font-size:15px;
	font-family: Verdana;
}
header{
	background: #0047b3;
	border-bottom: 3px solid #99c2ff;
}
.header-links {
	float:right;
	clear:right;
	padding-right: 10px;
	padding-top: 10px;
}
.header-links  a{
	text-decoration:none;
	color: white;
	font-size:17px;
	font-family: Verdana;
}
.header-links a:hover{
	color:#c6c6ec;
}
.header-name{
	font-family: "Bradley Hand ITC";
	font-weight: bold;
	font-size: 60px;
	color:white;
}
.main {
	flex-flow:row;
	display:flex;
	background:#e6e6e6;
}
.allTasks{
	display:flex;
	flex-wrap:wrap;
	padding-bottom: 50px;
}

.name{
	position:relative;
	min-width:400px;
	color: #002080;
	background: #8080ff;
	font-family: Verdana;
	font-weight: bold;
	font-size:20px;
	text-align: left;
	padding: 1em;
	margin-left: 50px;
	margin-bottom: 0px;
}
.name:hover + div {
	display:block;
	background: #80d4ff;
	border-bottom: 1px solid #8080ff;
	font-size:15px;
	padding:10px;
	margin-left: 50px;
}
.name:hover + div span {
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana;
	color:#2929a3;
}
.name:hover + div p {
	font-size: 17px;
}

.task div{
	display: none;
}
.edit{
	float:right;
	border-radius: 4px;
	background-color: white;
    border: none;
    color: #2929a3;
    padding: 5px;
    text-align: center;
	max-width: 100px;
    font-size: 13px;
	font-weight: bold;
	margin-left: 10px;
	text-decoration: none;
}
.edit:hover{
	color: #0066ff;
}
.name input{
	float: right;
	margin-left: 10px;
	width:20px;
    height:20px;
}
.sortBy {
	padding: 0px 30px;
	border-right: 2px solid #cccccc;
	min-width: 150px;
}
.sortBy p {
	font-family: Verdana;
	font-weight: bold;
	color: #002080;
}
select{
	width: 100%;
	background:#b3c6ff;
	font-size:15px;
	text-align: center;
	padding: 5px;
	border: 1px solid #99c2ff;
	border-radius: 4px;
	font-family: Verdana;
	font-weight: bold;
	color: #002080;    
}
	
.button_ok{
	border-radius: 4px;
	background-color: #0066ff;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 15px;
	font-family: Verdana;
	margin-top: 10px;
	}
.button_ok:hover{
	color:#c6c6ec;
}

	